{% extends "base.html" %}

{% block body %}
    <h1>Login to Secure Socializing</h1>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <form method="POST" action="/login">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input id="username" name="username" type="text"></input>
        <label for="password">Password:</label>
        <input name="password" type="text"></input>
        <input value="Login" type="submit"></input>
    </form>
{% endblock %}